<template>
  <div style="position: relative; z-index: 1">
    <div class="modal">
      <div v-if="openDeleteView" id="deleteOrderContainer">
        <i
          class="fas fa-times-circle fa-lg closeDeleteViewBtn"
          v-on:click="alterDeleteOrderView(null)"
        ></i>
        <p>Delete {{deleteOrder.receiver}}'s order?</p>
        <div>
          <button class="deleteViewSubBtn" v-on:click="alterDeleteOrderView(null)">Cancel</button>
          <button class="deleteViewSubBtn" v-on:click="deleteOrderConfirmed">Confirm</button>
        </div>
      </div>
      <div v-if="openEditView" class="editView">
        <i class="fas fa-times-circle fa-lg closeEditViewBtn" v-on:click="alterEditOrderView(null)"></i>
        <h2>{{editOrder.receiver}}'s Order</h2>
        <div class="editOrderTableContainer">
          <table class="editOrderTable">
            <tr>
              <th>Movie</th>
              <th>Quality</th>
              <th>Price</th>
            </tr>
            <tr v-for="orderDetail in editOrder.order_details" :key="orderDetail.id + 'orDe'">
              <td>{{orderDetail.movie.name}}</td>
              <td>{{orderDetail.quality.type}}</td>
              <td>${{orderDetail.quality.price}}</td>
            </tr>
          </table>
          <div style="text-align: center">
            <p>Total Price: {{calculateOrderPrice(editOrder)}}</p>
          </div>
        </div>
      </div>
    </div>
    <div id="searchInputContainer">
      <input
        v-on:input="search"
        v-model="searchTerm"
        type="text"
        name="searchInput"
        id="searchInput"
        placeholder="Search Orders..."
      />
    </div>
    <div v-if="!searchTerm.length" class="topFlexContainer">
      <div class="orderFlexContainer">
        <h3>Processing Orders</h3>

        <table>
          <tr>
            <th>Receiver</th>
            <th>Price</th>
            <th>Date</th>
          </tr>
          <tr v-for="order in processingOrders" :key="order.id + 'order'">
            <td>{{order.receiver}}</td>
            <td>${{calculateOrderPrice(order)}}</td>
            <td>{{order.updated_at}}</td>
            <td>
              <i class="editOrder far fa-eye" v-on:click="alterEditOrderView(order)"></i>
              <!-- <lottie
              height="40"
              width="40"
                class="editOrder"
                v-on:click="alterEditOrderView(order)"
                :options="defaultOptions"
              ></lottie>-->
            </td>
            <td>
              <i class="deleteOrder far fa-trash-alt" v-on:click="alterDeleteOrderView(order)"></i>
            </td>
            <td>
              <i class="fas fa-arrow-circle-right" v-on:click="moveToShipped(order)"></i>
            </td>
          </tr>
        </table>
        <h5 v-show="!processingOrders.length">No Orders Being Processed</h5>
      </div>
      <div class="orderFlexContainer">
        <h3>Shipped Orders</h3>

        <table>
          <tr>
            <th>Receiver</th>
            <th>Price</th>
            <th>Date</th>
          </tr>
          <tr v-for="order in shippedOrders" :key="order.id + 'order'">
            <td>{{order.receiver}}</td>
            <td>${{calculateOrderPrice(order)}}</td>
            <td>{{order.updated_at}}</td>
            <td>
              <i class="editOrder far fa-eye" v-on:click="alterEditOrderView(order)"></i>
            </td>
            <td>
              <i class="fas fa-arrow-circle-right" v-on:click="moveToDelivered(order)"></i>
            </td>
          </tr>
        </table>
        <h5 v-show="!shippedOrders.length">No Orders Shipped</h5>
      </div>
      <div class="orderFlexContainer">
        <h3>Delivered Orders</h3>

        <table>
          <tr>
            <th>Receiver</th>
            <th>Price</th>
            <th>Date</th>
          </tr>
          <tr v-for="order in deliveredOrders" :key="order.id + 'order'">
            <td>{{order.receiver}}</td>
            <td>${{calculateOrderPrice(order)}}</td>
            <td>{{order.updated_at}}</td>
            <td>
              <i class="editOrder far fa-eye" v-on:click="alterEditOrderView(order)"></i>
            </td>
          </tr>
        </table>
        <h5 v-show="!deliveredOrders.length">No Orders Delivered</h5>
      </div>
    </div>
    <div v-if="searchTerm.length" class="topFlexContainer">
      <div class="orderFlexContainer">
        <h3>Processing Orders</h3>

        <table>
          <tr>
            <th>Receiver</th>
            <th>Price</th>
            <th>Date</th>
          </tr>
          <tr v-for="order in processingOrdersSearched" :key="order.id + 'order'">
            <td>{{order.receiver}}</td>
            <td>${{calculateOrderPrice(order)}}</td>
            <td>{{order.updated_at}}</td>
            <td>
              <i class="editOrder far fa-eye" v-on:click="alterEditOrderView(order)"></i>
            </td>
            <td>
              <i class="deleteOrder far fa-trash-alt" v-on:click="alterDeleteOrderView(order)"></i>
            </td>
            <td>
              <i class="fas fa-arrow-circle-right" v-on:click="moveToShipped(order)"></i>
            </td>
          </tr>
        </table>
        <h5 v-show="!processingOrdersSearched.length">No Orders Being Processed</h5>
      </div>
      <div class="orderFlexContainer">
        <h3>Shipped Orders</h3>

        <table>
          <tr>
            <th>Receiver</th>
            <th>Price</th>
            <th>Date</th>
          </tr>
          <tr v-for="order in shippedOrdersSearched" :key="order.id + 'order'">
            <td>{{order.receiver}}</td>
            <td>${{calculateOrderPrice(order)}}</td>
            <td>{{order.updated_at}}</td>
            <td>
              <i class="editOrder far fa-eye" v-on:click="alterEditOrderView(order)"></i>
            </td>
            <td>
              <i class="fas fa-arrow-circle-right" v-on:click="moveToDelivered(order)"></i>
            </td>
          </tr>
        </table>
        <h5 v-show="!shippedOrdersSearched.length">No Orders Shipped</h5>
      </div>
      <div class="orderFlexContainer">
        <h3>Delivered Orders</h3>

        <table>
          <tr>
            <th>Receiver</th>
            <th>Price</th>
            <th>Date</th>
          </tr>
          <tr v-for="order in deliveredOrdersSearched" :key="order.id + 'order'">
            <td>{{order.receiver}}</td>
            <td>${{calculateOrderPrice(order)}}</td>
            <td>{{order.updated_at}}</td>
            <td>
              <i class="editOrder far fa-eye" v-on:click="alterEditOrderView(order)"></i>
            </td>
          </tr>
        </table>
        <h5 v-show="!deliveredOrdersSearched.length">No Orders Delivered</h5>
      </div>
    </div>
  </div>
</template>

<script>
import lottie from "vue-lottie";
import * as animationData from "../../../public/animations/eye.json";
export default {
  name: "AdminOrders",
  components: { lottie },
  data: function() {
    return {
      searchTerm: "",
      processingOrdersSearched: [],
      shippedOrdersSearched: [],
      deliveredOrdersSearched: [],
      openEditView: false,
      openDeleteView: false,
      editOrder: {},
      deleteOrder: {},
      processingOrders: [],
      shippedOrders: [],
      deliveredOrders: [],
      defaultOptions: { animationData, animationSpeed: 1 }
    };
  },
  props: ["processingOrdersProp", "shippedOrdersProp", "deliveredOrdersProp"],
  methods: {
    search: function() {
      if (this.searchTerm.length)
        window.Axios.post("/searchorders", { search: this.searchTerm }).then(
          response => {
            if (response.data) {
              console.log(response.data);
              this.processingOrdersSearched = response.data.processing;
              this.shippedOrdersSearched = response.data.shipped;
              this.deliveredOrdersSearched = response.data.delivered;
            }
          }
        );
      else {
        this.processingOrdersSearched = [];
        this.shippedOrdersSearched = [];
        this.deliveredOrdersSearched = [];
      }
    },
    calculateOrderPrice(order) {
      let orderPrice = 0;
      order.order_details.forEach(orderDetail => {
        orderPrice += orderDetail.quality.price;
      });
      return orderPrice.toFixed(2);
    },
    alterEditOrderView(order) {
      if (order) {
        this.editOrder = order;
        document.getElementsByClassName("modal")[0].style.zIndex = 100;
        this.openEditView = true;
      } else {
        this.editOrder = {};
        document.getElementsByClassName("modal")[0].style.zIndex = -10;
        this.openEditView = false;
      }
    },
    alterDeleteOrderView(order) {
      if (order) {
        this.deleteOrder = order;
        document.getElementsByClassName("modal")[0].style.zIndex = 100;
        this.openDeleteView = true;
      } else {
        this.deleteOrder = {};
        document.getElementsByClassName("modal")[0].style.zIndex = -10;
        this.openDeleteView = false;
      }
    },
    deleteOrderConfirmed: function() {
      window.Axios.post("/deleteorder", { orderID: this.deleteOrder.id })
        .then(response => {
          if (response.data) {
            if (this.processingOrdersSearched.length) {
              this.processingOrdersSearched.splice(
                this.processingOrdersSearched.indexOf(this.deleteOrder),
                1
              );
            }
            this.processingOrders.splice(
              this.processingOrders.indexOf(this.deleteOrder),
              1
            );
            this.deleteOrder = {};
            document.getElementsByClassName("modal")[0].style.zIndex = -10;
            this.openDeleteView = false;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    moveToShipped: function(order) {
      window.Axios.post("/ordershipped", { orderID: order.id })
        .then(response => {
          if (response.data) {
            if (this.shippedOrdersSearched.length) {
              this.processingOrdersSearched.splice(
                this.processingOrdersSearched.indexOf(order),
                1
              );
              this.shippedOrdersSearched.unshift(order);
            }
            this.processingOrders.splice(
              this.processingOrders.indexOf(order),
              1
            );
            this.shippedOrders.unshift(order);
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    moveToDelivered: function(order) {
      window.Axios.post("/orderdelivered", { orderID: order.id })
        .then(response => {
          if (response.data) {
            if (this.deliveredOrdersSearched.length) {
              this.shippedOrdersSearched.splice(
                this.shippedOrdersSearched.indexOf(order),
                1
              );
              this.deliveredOrdersSearched.unshift(order);
            }
            this.shippedOrders.splice(this.shippedOrders.indexOf(order), 1);
            this.deliveredOrders.unshift(order);
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.processingOrders = this.processingOrdersProp;
    this.shippedOrders = this.shippedOrdersProp;
    this.deliveredOrders = this.deliveredOrdersProp;
    document.getElementsByClassName("topFlexContainer")[0].style.height =
      window.innerHeight - 115 + "px";

    window.addEventListener("resize", () => {
      document.getElementsByClassName("topFlexContainer")[0].style.height =
        window.innerHeight - 115 + "px";
    });
  }
};
</script>

<style scoped>
#searchInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchInput {
  width: 70%;
  background: linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30));
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 10px;
}

::-webkit-input-placeholder {
  /* Edge */
  color: white;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}
.topFlexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(67, 67, 67));
  color: white;
  padding: 10px;
}

.orderFlexContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  background: linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30));
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  max-height: 90%;
}

.orderFlexContainer::-webkit-scrollbar {
  width: 1px;
}
.orderFlexContainer::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -10;
  overflow-y: auto;
}

.closeEditViewBtn,
.closeDeleteViewBtn {
  position: absolute;
  right: 5px;
  top: 5px;
}

.editView {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background: transparent;
  border-radius: 20px;
  padding: 20px;
  height: 90%;
  width: 100%;
  overflow-y: auto;
}

.editOrderTableContainer {
  background: linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30));
  border-radius: 20px;
}

.editOrderTable {
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.deleteViewSubBtn {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(67, 67, 67));
  border-radius: 20px;
  padding: 5px;
  border: none;
  outline: none;
  color: white;
}

#deleteOrderContainer {
  background: linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30));
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  padding: 5px;
  position: relative;
}

tr {
  margin: 10px;
}

td,
th {
  text-align: center;
  padding: 10px;
}

i:hover,
button:hover {
  cursor: pointer;
}
</style>


