<template>
  <div id="topContainer" style="text-align: center">
    <div class="modal">
      <div v-if="openDeleteView" id="deleteMovieContainer">
        <i
          class="fas fa-times-circle fa-lg closeDeleteViewBtn"
          v-on:click="alterOpenDeleteView(null)"
        ></i>
        <p>Delete {{deleteMovie.name}}?</p>
        <div>
          <button class="deleteViewSubBtn" v-on:click="alterOpenDeleteView(null)">Cancel</button>
          <button class="deleteViewSubBtn" v-on:click="deleteMovieConfirmed">Confirm</button>
        </div>
      </div>
      <div v-show="openEditView" id="editMovieContainer">
        <i class="fas fa-times-circle fa-lg closeEditViewBtn" v-on:click="alterOpenEditView(null)"></i>
        <h3 style="margin: 5px">Edit or Create Movie</h3>
        <h4>Name</h4>
        <input
          size="50"
          class="editInput"
          type="text"
          name="editMovieName"
          id="editMovieName"
          v-model="editMovie.name"
        />
        <h4>Cover</h4>
        <input
          size="50"
          class="editInput"
          type="text"
          name="editMovieCover"
          id="editMovieCover"
          v-model="editMovie.cover"
        />
        <h4>Thumbnail</h4>
        <input
          size="50"
          class="editInput"
          type="text"
          name="editMovieThumbnail"
          id="editMovieThumbnail"
          v-model="editMovie.thumbnail"
        />
        <h4>Synopsis</h4>
        <textarea
          name="editMovieSynopsis"
          id="editMovieSynopsis"
          v-model="editMovie.synopsis"
          style="min-width: 50%"
        ></textarea>
        <h4>Rating</h4>
        <input
          type="number"
          name="editMovieRatingInput"
          id="editMovieRatingInput"
          v-model="editMovie.rating"
          min="0"
          max="10"
        />
        <h4>Release Date</h4>
        <input
          size="50"
          class="editInput"
          type="date"
          name="editMovieReleaseDate"
          id="editMovieReleaseDate"
          v-model="editMovie.releaseDate"
        />
        <h4>Length</h4>
        <input
          class="editInput"
          type="text"
          name="editMovieLength"
          id="editMovieLength"
          v-model="editMovie.length"
        />
        <h4>Actors</h4>
        <div class="editMovieActorsContainer">
          <div
            v-for="actor in editMovie.actors"
            :key="actor.name + 'editMovieActor'"
            class="editMovieActor"
          >
            <p>
              {{actor.name}}
              <i class="deleteMovie far fa-trash-alt" v-on:click="deleteActor(actor)"></i>
            </p>
          </div>
          <div class="editMovieActor">
            <input
              type="text"
              name="addActorInput"
              placeholder="Add Actor/Actress"
              class="addActorInput"
              v-model="newActor"
            />
            <i class="fas fa-plus-circle" v-on:click="addActor"></i>
          </div>
        </div>
        <h4>Genres</h4>
        <div class="editMovieGenresContainer">
          <div
            v-for="genre in editMovie.genres"
            :key="genre.name + 'editMovieGenre'"
            class="editMovieGenre"
          >
            <p>
              {{genre.name}}
              <i class="deleteMovie far fa-trash-alt" v-on:click="deleteGenre(genre)"></i>
            </p>
          </div>
          <div class="editMovieGenre">
            <input
              type="text"
              name="addGenreInput"
              placeholder="Add Genre"
              class="addGenreInput"
              v-model="newGenre"
            />
            <i class="fas fa-plus-circle" v-on:click="addGenre"></i>
          </div>
        </div>
        <h4>Trailers</h4>
        <div class="editMovieTrailersContainer">
          <div
            v-for="trailer in editMovie.trailers"
            :key="trailer.link + 'editMovieTrailer'"
            class="editMovieTrailer"
          >
            <p>
              {{trailer.link}}
              <i
                class="deleteMovie far fa-trash-alt"
                v-on:click="deleteTrailer(trailer)"
              ></i>
            </p>
          </div>
          <div class="editMovieTrailer">
            <input
              type="text"
              name="addTrailerInput"
              placeholder="Add Trailer"
              class="trailerLink"
              v-model="newTrailerLink"
            />
            <i class="fas fa-plus-circle" v-on:click="addTrailer"></i>
          </div>
        </div>
        <button class="editMovieSaveBtn" v-on:click="saveMovie">Save</button>
      </div>
    </div>
    <h1>Search Movies</h1>
    <div id="searchInputContainer">
      <input
        v-on:input="search"
        v-model="searchTerm"
        type="text"
        name="searchInput"
        id="searchInput"
        placeholder="Search Movies..."
      />
      <i
        class="addMovie fas fa-plus"
        v-on:click="alterOpenEditView({name: '', cover: '', thumbnail: '', releaseDate: '', length: '', rating: '', isTvSeries: 0, synopsis: '', actors: [], trailers: [], genres: []})"
      ></i>
    </div>
    <div id="moviesContainer">
      <div class="movieContainer" v-for="movie in movies" :key="movie.id">
        <div class="movieImageContainer">
          <img :src="movie.thumbnail" :alt="movie.name" />
        </div>
        <div>{{movie.name}}</div>
        <div>
          <i class="editMovie far fa-edit" v-on:click="alterOpenEditView(movie)"></i>
          <i class="deleteMovie far fa-trash-alt" v-on:click="alterOpenDeleteView(movie)"></i>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AdminMovie",
  data: function() {
    return {
      movies: [],
      searchTerm: "",
      openDeleteView: false,
      openEditView: false,
      deleteMovie: {},
      editMovie: {},
      deletedActors: [],
      deletedGenres: [],
      deletedTrailers: [],
      newTrailerLink: "",
      newGenre: "",
      newActor: ""
    };
  },
  mounted() {
    document.getElementById("topContainer").style.height =
      window.innerHeight - 115 + "px";
    document.getElementsByClassName("modal")[0].style.height =
      window.innerHeight - 115 + "px";

    window.addEventListener("resize", () => {
      document.getElementById("topContainer").style.height =
        window.innerHeight - 115 + "px";
      document.getElementsByClassName("modal")[0].style.height =
        window.innerHeight - 115 + "px";
    });
  },
  methods: {
    search: function() {
      if (this.searchTerm.length)
        axios
          .post("/movies/search", { search: this.searchTerm })
          .then(response => {
            if (response.data) {
              this.movies = response.data;
            }
          });
      else this.movies = [];
    },
    alterOpenDeleteView(movie) {
      if (movie) this.deleteMovie = movie;
      this.openDeleteView = !this.openDeleteView;
      if (this.openDeleteView) {
        document.getElementsByClassName("modal")[0].style.zIndex = 100;
        document.getElementsByClassName("modal")[0].style.top =
          document.getElementById("topContainer").scrollTop + "px";
        document.getElementById("topContainer").style.overflowY = "hidden";
      } else {
        document.getElementsByClassName("modal")[0].style.zIndex = -100;
        document.getElementById("topContainer").style.overflowY = "auto";
        this.deleteMovie = {};
      }
    },
    alterOpenEditView(movie) {
      if (movie) this.editMovie = movie;
      this.openEditView = !this.openEditView;
      if (this.openEditView) {
        document.getElementsByClassName("modal")[0].style.zIndex = 100;
        document.getElementsByClassName("modal")[0].style.top =
          document.getElementById("topContainer").scrollTop + "px";
        document.getElementById("topContainer").style.overflowY = "hidden";
      } else {
        document.getElementsByClassName("modal")[0].style.zIndex = -10;
        document.getElementById("topContainer").style.overflowY = "auto";

        this.deletedActors = this.deletedGenres = this.deletedTrailers = [];
        this.newTrailerLink = this.newGenre = this.newActor = "";
      }
    },
    deleteMovieConfirmed() {
      window.Axios.post("/deletemovie", { movie_id: this.deleteMovie.id }).then(
        response => {
          if (response.data) {
            document.getElementsByClassName("modal")[0].style.zIndex = -10;
            document.getElementById("topContainer").style.overflowY = "auto";
            this.movies.splice(this.movies.indexOf(this.deleteMovie), 1);
            this.deleteMovie = {};
            this.openDeleteView = false;
          }
        }
      );
    },
    deleteActor(actor) {
      this.editMovie.actors.splice(this.editMovie.actors.indexOf(actor), 1);
      this.deletedActors.push(actor);
    },
    deleteGenre(genre) {
      this.editMovie.genres.splice(this.editMovie.genres.indexOf(genre), 1);
      this.deletedGenres.push(genre);
    },
    deleteTrailer(trailer) {
      this.editMovie.trailers.splice(this.editMovie.genres.indexOf(trailer), 1);
      this.deletedTrailers.push(trailer);
    },
    addActor() {
      var actor = { name: this.newActor, movie_id: this.editMovie.id };
      this.editMovie.actors.push(actor);
    },
    addGenre() {
      var genre = { name: this.newGenre, movie_id: this.editMovie.id };
      this.editMovie.genres.push(genre);
    },
    addTrailer() {
      var trailer = { link: this.newTrailerLink, movie_id: this.editMovie.id };
      this.editMovie.trailers.push(trailer);
    },
    saveMovie() {
      window.Axios.post("/savemovie", {
        movie: JSON.stringify(this.editMovie),
        deletedActors: JSON.stringify(this.deletedActors),
        deletedGenres: JSON.stringify(this.deletedGenres),
        deletedTrailers: JSON.stringify(this.deletedTrailers)
      })
        .then(response => {
          if (response.data) {
            this.alterOpenEditView(null);
            this.deletedActors = this.deletedGenres = this.deletedTrailers = [];
            this.newTrailerLink = this.newGenre = this.newActor = "";
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style scoped>
h4 {
  margin: 10px 0 10px 0;
}
#topContainer {
  color: white;
  overflow-y: auto;
  position: relative;
}

#searchInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchInput {
  width: 70%;
  background: linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30));
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 10px;
}

::-webkit-input-placeholder {
  /* Edge */
  color: white;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::placeholder {
  color: white;
}

#moviesContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  color: white;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(67, 67, 67));
  margin-top: 10px;
  min-height: 100%;
}

.movieContainer {
  background: linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30));
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  min-width: 500px;
}

.movieImageContainer {
  height: 100px;
  width: 70px;
}

.movieImageContainer img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.addMovie,
.editMovie,
.deleteMovie {
  margin: 10px;
}

.addMovie:hover,
.deleteMovie:hover,
.editMovie:hover {
  cursor: pointer;
}

#deleteMovieContainer {
  background: linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30));
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  padding: 5px;
  position: relative;
}

.closeDeleteViewBtn,
.closeEditViewBtn {
  position: absolute;
  right: 5px;
  top: 5px;
}

.deleteViewSubBtn,
.editMovieSaveBtn,
.editInput,
#addTrailerInput,
#editMovieRatingInput,
#editMovieSynopsis,
.trailerLink {
  background: linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30));
  border-radius: 20px;
  padding: 5px;
  border: none;
  outline: none;
  color: white;
}

.deleteViewSubBtn {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(67, 67, 67));
}

.trailerLink {
  background: transparent;
}

textarea {
  min-width: 200px;
  min-height: 200px;
  resize: both;
}

.editMovieSaveBtn {
  padding: 10px;
  margin: 10px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -10;
  overflow-y: auto;
}

#topContainer::-webkit-scrollbar,
#editMovieContainer::-webkit-scrollbar {
  width: 10px;
}
#topContainer::-webkit-scrollbar-thumb,
#editMovieContainer::-webkit-scrollbar-thumb {
  background-color: #d00;
  border-radius: 10px;
}

#editMovieContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background: transparent;
  border-radius: 20px;
  padding: 20px;
  height: 90%;
  min-width: 50%;
  overflow-y: auto;
}

.editInput,
textarea {
  margin: 10px;
}

.editMovieActor,
.editMovieTrailer,
.editMovieGenre {
  background: linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30));
  border-radius: 20px;
  margin: 5px 10px 5px 10px;
  padding: 0px 5px 0 5px;
}

.editMovieActorsContainer,
.editMovieTrailersContainer,
.editMovieGenresContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80%;
}

.addGenreInput,
.addActorInput {
  height: 80%;
  background: transparent;
  outline: none;
  border: none;
  color: white;
}

button:hover {
  cursor: pointer;
}

input {
  text-align: center;
}
</style>


