<template>
  <div id="sideNav">
    <a class="sdItem" href="/admin">Movies</a>
    <a class="sdItem" href="/adminorders">Orders</a>
    <a class="sdItem" href="/adminsales">Sales</a>
  </div>
</template>

<script>
export default {
  name: "AdminSidenav",
  props: ["linkname"],
  mounted() {
    var links = document.getElementsByClassName("sdItem");
    for (var i = 0; i < links.length; i++) {
      links[i].style.background = "none";
      if (links[i].innerText == this.linkname) {
        links[i].style.background =
          "linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30))";
      }
    }
  }
};
</script>

<style scoped>
#sideNav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  color: white;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(67, 67, 67));
}

.activeSdItem {
  background: linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30));
}

.sdItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 25px 20px 25px;
  margin: 0px 10px 0px 10px;
  min-width: 150px;
  border-radius: 20px;
}

a {
  color: white;
  text-decoration: none;
}
</style>


