<template>
  <div class="topFlexContainer">
    <div class="graphContainer">
      <apexchart type="bar" :options="barGraphData.chartOptions" :series="barGraphData.series"></apexchart>
    </div>
    <div class="graphContainer">
      <apexchart
        type="donut"
        :options="donutGraphData.chartOptions"
        :series="donutGraphData.series"
      ></apexchart>
    </div>
  </div>
</template>

<script>
export default {
  name: "AdminSales",
  props: ["data"],
  data: function() {
    return {
      salesData: [],
      donutGraphData: {
        series: [44, 55, 41, 17, 15],
        chartOptions: {
          title: {
            text: "Last 5 Months Sales % Wise",
            style: {
              fontSize: "16px",
              color: "#FFF"
            }
          },
          legend: {
            labels: {
              colors: ["#FFF"]
            }
          },
          plotOptions: {
            radialBar: {
              dataLabels: {
                name: {
                  fontSize: "22px"
                },
                value: {
                  fontSize: "16px"
                },
                total: {
                  show: true,
                  label: "Total"
                }
              }
            }
          },
          labels: []
        }
      },
      barGraphData: {
        chartOptions: {
          title: {
            text: "Last 5 Months Sales",
            style: {
              fontSize: "16px",
              color: "#FFF"
            }
          },
          chart: {
            id: "barGraph"
          },
          fill: {
            colors: "#222"
          },
          xaxis: {
            categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998],
            labels: {
              style: {
                colors: "#FFF"
              }
            }
          },
          yaxis: {
            labels: {
              style: {
                color: "#FFF"
              }
            }
          }
        },
        series: [
          {
            name: "series-1",
            data: [30, 40, 35, 50, 49, 60, 70, 91]
          }
        ],
        chart: {
          animations: {
            enabled: true,
            easing: "easeinout",
            speed: 800,
            animateGradually: {
              enabled: true,
              delay: 150
            },
            dynamicAnimation: {
              enabled: true,
              speed: 350
            }
          }
        }
      },
      months: [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ]
    };
  },
  methods: {
    calculateBarGraphData: function() {
      var keys = Object.keys(this.data);
      for (var key in this.data) {
        var totalSales = 0;
        this.data[key].forEach(order => {
          order.order_details.forEach(orderDetail => {
            totalSales += orderDetail.quality.price;
          });
        });
        let salesObject = {};
        salesObject[key] = totalSales;
        this.salesData.push(salesObject);
      }
      this.salesData.sort((a, b) => {
        return (
          this.months.indexOf(Object.keys(a)[0]) -
          this.months.indexOf(Object.keys(b)[0])
        );
      });
      this.barGraphData = {
        ...this.barGraphData,
        chartOptions: {
          ...this.barGraphData.chartOptions,
          xaxis: {
            categories: this.salesData.map(sD => {
              return Object.keys(JSON.parse(JSON.stringify(sD)))[0];
            })
          }
        },
        series: [
          {
            name: "Sales in $",
            data: this.salesData.map(sD => {
              return sD[Object.keys(sD)[0]].toFixed(2);
            })
          }
        ]
      };
      this.donutGraphData = {
        ...this.donutGraphData,
        series: this.salesData.map(sD => {
          return sD[Object.keys(sD)[0]];
        }),
        chartOptions: {
          ...this.donutGraphData.chartOptions,
          labels: this.salesData.map(sD => {
            return Object.keys(JSON.parse(JSON.stringify(sD)))[0];
          })
        }
      };
    }
  },
  mounted() {
    this.calculateBarGraphData();
    document.getElementsByClassName("topFlexContainer")[0].style.maxHeight =
      window.innerHeight - 115 + "px";
    window.addEventListener("resize", () => {
      document.getElementsByClassName("topFlexContainer")[0].style.maxHeight =
        window.innerHeight - 115 + "px";
    });
  }
};
</script>

<style scoped>
.topFlexContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  padding: 25px;
}

.topFlexContainer::-webkit-scrollbar {
  width: 10px;
}
.topFlexContainer::-webkit-scrollbar-thumb {
  background-color: #d00;
  border-radius: 10px;
}

.graphContainer {
  width: 50%;
  background: linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30));
  border-radius: 20px;
  padding: 25px;
  margin: 20px;
}
</style>


