<template>
  <div class="buyContainer buyCloser" :style="{minWidth: buyWidth + 'px', top: buyTop + 'px'}">
    <div class="buyLeftContainer buyCloser">
      <div class="buyImageContainer buyCloser">
        <img class="buyImage buyCloser" :src="movie.thumbnail" :alt="movie.name" />
      </div>
      <p class="buyCloser">{{movie.name}}</p>
    </div>
    <div class="buyRightContainer buyCloser">
      <div class="buySelectQuality buyCloser">
        <h4 class="buyCloser">Select Quality</h4>
        <div
          class="movieQuality buyCloser"
          v-for="quality in movie.qualities"
          :key="quality.movie_quality_id"
          :id="quality.movie_quality_id"
          v-on:click="selectQuality($event, quality)"
        >
          <p
            class="buyCloser"
            v-on:click="$event.stopPropagation()"
          >{{quality.type + ": $" + quality.price}}</p>
        </div>
        <div class="buyPrice buyCloser">Price: {{price}}</div>
      </div>
      <div class="buyAddToCart buyCloser">
        <button class="addToCartBtn buyCloser" v-on:click="addToCart">Add To Cart</button>
      </div>
    </div>
    <i class="fas fa-times-circle fa-lg closeBuyBtn" v-on:click="closeBuyBtn"></i>
  </div>
</template>

<script>
export default {
  name: "Buy",
  props: ["movie"],
  data: function() {
    return {
      selectedQuality: {},
      price: 0,
      buyWidth: window.innerWidth / 2,
      buyTop: 0
    };
  },
  methods: {
    selectQuality: function(e, quality) {
      var qualityDivs = document.getElementsByClassName("movieQuality");
      var i = 0;
      this.movie.qualities.forEach(element => {
        qualityDivs[i].style.background =
          "linear-gradient(to right, rgb(200, 33, 58), rgb(100, 41, 30))";
        if (element.movie_quality_id == quality.movie_quality_id) {
          this.selectedQuality = element;
          this.price = element.price;
        }
        i++;
      });
      e.target.style.background =
        "linear-gradient(to left, rgb(0,176,155), rgb(150,201,61)";
    },
    closeBuyBtn: function() {
      this.buyTop = 0;
      document.getElementsByClassName("buyContainer")[0].style.opacity = 0;
      setTimeout(() => {
        this.$emit("closeBuyBtn");
        this.buyTop = window.innerHeight / 4;
        document.getElementsByClassName(
          "buyContainer"
        )[0].style.opacity = 0.995;
      }, 300);
    },
    addToCart: function() {
      var movie = this.movie;
      var quality = this.selectedQuality;
      this.$root.$emit("addToCart", { movie, quality });
    }
  },
  mounted() {
    window.addEventListener("resize", e => {
      this.buyWidth = window.innerWidth / 2;
      this.buyTop = window.innerHeight / 4;
    });
    setTimeout(() => {
      document.getElementsByClassName("buyContainer")[0].style.opacity = 0.995;
      this.buyTop = window.innerHeight / 4;
    }, 300);
  }
};
</script>

<style scoped>
.buyContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  padding: 20px;
  margin: 0 25% 0 25%;
  position: fixed;
  color: white;
  opacity: 0;
  transition: 0.3s all;
}

.buyLeftContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.buyImageContainer {
  width: 150px;
  height: 200px;
}

.buyImageContainer img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.buyRightContainer {
  width: 50%;
}

.closeBuyBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.closeBuyBtn:hover {
  cursor: pointer;
}

.buyAddToCart {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.addToCartBtn {
  background: linear-gradient(to right, rgb(200, 33, 58), rgb(100, 41, 30));
  border-radius: 20px;
  color: white;
  border: none;
  outline: none;
  height: 30px;
}

.addToCartBtn:hover {
  cursor: pointer;
}

.buySelectQuality {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.buyPrice {
  margin: 5px 0 5px 0;
}

.movieQuality {
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 150px;
  background: linear-gradient(to right, rgb(200, 33, 58), rgb(100, 41, 30));
  border-radius: 20px;
  transition: all 0.5s;
}

.movieQuality:hover {
  cursor: pointer;
}
</style>


