<template>
  <div id="cartContainer" class="cartCloser">
    <i class="fas fa-times-circle fa-lg closeCartBtn cartCloser" v-on:click="closeCartBtn"></i>
    <div
      style="display: flex; align-items: center; justify-content: center; color:white "
      class="cartCloser"
    >
      <h4
        style="background: linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30));
  border-radius: 20px;padding:10px"
        class="cartCloser"
      >Your Cart</h4>
    </div>
    <div
      v-if="!this.movies.length"
      style="display: flex; align-items: center; justify-content: center; color:white"
      class="cartCloser"
    >No Items</div>
    <div class="cartFlex cartCloser">
      <div
        v-for="movie in movies"
        :key="movie.movie.id + movie.quality.movie_quality_id"
        class="cartItem cartCloser"
      >
        <div class="coverContainer cartCloser">
          <img class="cartCloser" :src="movie.movie.thumbnail" :alt="movie.movie.name" />
        </div>
        <div class="cartCloser" style="max-width: 200px">{{movie.movie.name}}</div>
        <div class="cartCloser">{{movie.quality.type}}</div>
        <div class="cartCloser">${{movie.quality.price}}</div>
        <div class="deleteBtnContainer cartCloser" v-on:click="removeMovie(movie)">
          <i class="fas fa-trash-alt deleteBtn cartCloser"></i>
        </div>
      </div>
    </div>
    <div id="cartBottomContainer" class="cartCloser">
      <div id="totalPrice" class="cartCloser">
        <p class="cartCloser">Total: ${{this.totalPrice}}</p>
      </div>
      <hr class="cartCloser" style="background-color: white; ; margin: 5% 20% 5% 20%" />
      <div class="checkoutBtnContainer cartCloser">
        <button class="checkoutBtn cartCloser" v-on:click="checkout">Checkout</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Cart",
  props: ["movie", "user"],
  data: function() {
    return {
      movies: [],
      orders: []
    };
  },
  computed: {
    totalPrice: function() {
      var total = 0;
      this.movies.forEach(movie => {
        total += movie.quality.price;
      });
      return total.toFixed(2);
    }
  },
  methods: {
    addToCart: function(newMovie) {
      this.$root.$emit("closeCart");
      for (var i = 0; i < this.movies.length; i++) {
        if (
          this.movies[i].movie.id == newMovie.movie.id &&
          this.movies[i].quality.movie_quality_id ==
            newMovie.quality.movie_quality_id
        ) {
          return;
        }
      }
      window.Axios.post("/addtocart", {
        movie_id: newMovie.movie.id,
        quality_id: newMovie.quality.movie_quality_id
      })
        .then(response => {
          if (response.data) {
            this.movies.push(newMovie);
            this.orders.push({
              movie_id: newMovie.movie.id,
              quality_id: newMovie.quality.movie_quality_id
            });
            window.localStorage.setItem(
              "cartItems" + this.user.id,
              JSON.stringify(this.movies)
            );
            window.localStorage.setItem(
              "orders" + this.user.id,
              JSON.stringify(this.orders)
            );
          } else {
            console.log("NOt Added");
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    removeMovie: function(movie) {
      window.Axios.post("/removefromcart", {
        movie_id: movie.movie.id,
        quality_id: movie.quality.movie_quality_id
      })
        .then(response => {
          if (response.data) {
            this.movies.splice(this.movies.indexOf(movie), 1);
            this.orders.splice(
              this.orders.indexOf(
                this.orders.find(order => {
                  return (
                    order.movie_id == movie.movie.id &&
                    order.quality_id == movie.quality.movie_quality_id
                  );
                })
              ),
              1
            );
            window.localStorage.setItem(
              "cartItems" + this.user.id,
              JSON.stringify(this.movies)
            );
            window.localStorage.setItem(
              "orders" + this.user.id,
              JSON.stringify(this.orders)
            );
          } else {
            console.log("Not Removed");
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    closeCartBtn: function() {
      this.$root.$emit("closeCart");
    },
    checkout: function() {
      if (this.movies.length) {
        window.location.replace("/paywithstripe");
      }
    },
    checkoutConfirmed: function() {
      this.movies = [];
      this.orders = [];
      window.localStorage.removeItem("cartItems");
      window.localStorage.removeItem("orders");
    }
  },
  mounted() {
    this.$root.$on("addToCart", this.addToCart);
    this.$root.$on("checkoutConfirmed", this.checkoutConfirmed);
    document.getElementById("cartContainer").style.maxHeight =
      window.innerHeight / 1.5 + "px";
    document.getElementById("cartContainer").style.maxWidth =
      window.innerWidth / 1.5 + "px";
    /*var movies = window.localStorage.getItem("cartItems" + this.user.id);
    if (movies) {
      this.movies = JSON.parse(movies);
    } else {*/
    window.Axios.post("/cartitems").then(response => {
      if (response.data) {
        this.movies = response.data;
        window.localStorage.setItem(
          "cartItems" + this.user.id,
          JSON.stringify(this.movies)
        );

        response.data.forEach(movie => {
          var order = {
            movie_id: movie.movie.id,
            quality_id: movie.quality.movie_quality_id
          };
          this.orders.push(order);
        });
      }
    });
    //}
  }
};
</script>

<style scoped>
#cartContainer {
  min-width: 300px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
}

#cartBottomContainer {
  margin: 10px 0 10px 0;
}

.cartFlex {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  color: white;
  overflow-y: scroll;
  padding: 10px;
}

.cartFlex div {
  padding: 5px;
}

.cartFlex::-webkit-scrollbar {
  width: 10px;
}
.cartFlex::-webkit-scrollbar-thumb {
  background-color: #d00;
  border-radius: 10px;
}

.cartItem {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  color: white;
  background: linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30));
  border-radius: 20px;
  padding: 10px;
}

.coverContainer {
  width: 60px;
  height: 90px;
}

.coverContainer img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#totalPrice {
  color: white;
  text-align: center;
}

.checkoutBtnContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.checkoutBtn {
  min-height: 30px;
  width: 30%;
  background: linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30));
  border-radius: 20px;
  color: white;
  border: none;
  outline: none;
}

.checkoutBtnContainer:hover,
.checkoutBtn:hover {
  cursor: pointer;
}

.deleteBtn {
  color: white;
}

.deleteBtn:hover {
  cursor: pointer;
}

.closeCartBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
}

.closeCartBtn:hover {
  cursor: pointer;
}
</style>


