<template>
  <div id="workforce" class="contains">
    <div id="workforceInner">
      <div
        data-aos="fade-up"
        v-bind:style="{height: bdHeight + 'px', backgroundImage: 'url(' + bdImage + ')'}"
        id="backdrop"
      ></div>
      <div class="content">
        <h1 data-aos="fade-up">{{heading}}</h1>
        <div class="activeMovie">
          <div class="activeMovieThumbnail">
            <img class="activeMovieImage" :src="activeMovie.thumbnail" :alt="activeMovie.name" />
          </div>
          <div class="movieInfo animated">
            <a class="movieName" :href="'/movies/one/' + activeMovie.id">{{activeMovie.name}}</a>
            <p class="synopsisText">{{activeMovie.synopsis}}</p>
            <button v-if="user" class="buyBtn">
              <p class="buyBtnText" v-on:click="toggleShowBuy">Buy Now</p>
            </button>
            <a href="/login" v-if="!user" style="color: red; font-size: 16px">Login To Buy</a>
          </div>
        </div>
        <hr style="background-color: white; ; margin: 5% 20% 5% 20%" />
        <slot></slot>
        <div class="moviesHolder">
          <div
            v-for="movie in movies"
            v-bind:id="'h' + movies.indexOf(movie)"
            class="inactiveMovie"
            :key="movie.id"
          >
            <img
              :src="movie.thumbnail"
              style="width: 100%; height: 100%; border-radius: 10%"
              :alt="movie.name"
            />
            <a :href="'/movies/one/' + movie.id">{{movie.name}}</a>
          </div>
        </div>
      </div>
    </div>
    <Buy style="z-index: 1000" :movie="activeMovie" v-if="showBuy" v-on:closeBuyBtn="toggleShowBuy"></Buy>
  </div>
</template>

<script>
import Buy from "./Buy";
export default {
  data: function() {
    return {
      activeMovieID: 0,
      activeMovie: {},
      bdHeight: 0,
      bdImage: "",
      movies: this.moviesList.data,
      showBuy: false
    };
  },
  components: {
    Buy
  },
  props: ["heading", "moviesList", "user"],
  methods: {
    initialize: function() {
      window.addEventListener("resize", this.resizeBD);

      //Things to be done after loading the doc (like event assigning)
      this.loader();
    },
    toggleShowBuy: function() {
      this.showBuy = !this.showBuy;
    },
    setActive: function(inactiveMovie) {
      var inactiveMovie = inactiveMovie.target.parentNode;
      var movieInfo = document.getElementsByClassName("movieInfo")[0];

      //Start Fading Out
      movieInfo.classList.add("fadeOut");

      //Set Timeout for FadeOut
      setTimeout(
        function() {
          //Remove Fade Out
          movieInfo.classList.remove("fadeOut");

          //Start Fading In
          movieInfo.classList.add("fadeIn");

          //Change Data while fading In
          var clickedMovieID = inactiveMovie.getAttribute("id");
          this.activeMovieID = clickedMovieID.replace("h", "");
          this.activeMovie = this.movies[this.activeMovieID];
          this.bdImage = this.movies[this.activeMovieID].cover;

          //Set Timeout for Fade In
          setTimeout(function() {
            //Remove Fade In
            movieInfo.classList.remove("fadeIn");
          }, 250);
        }.bind(this),
        250
      );

      document.scrollingElement.scrollTo(0, 0);
    },
    resizeBD: function() {
      //Set backdrop div size
      this.bdHeight = document.getElementById("workforceInner").clientHeight;
    },
    loader: function() {
      //Assign events to hex's
      var inactiveMovie = document.getElementsByClassName("inactiveMovie");
      for (var i = 0; i < this.movies.length; i++) {
        inactiveMovie[i].addEventListener("click", this.setActive);
      }

      //Set backdrop div size
      this.bdHeight = document.getElementById("workforceInner").clientHeight;
    },
    addToCart: function(movie) {
      this.$root.$emit("addToCart", this.activeMovie);
    }
  },
  mounted() {
    var hexStyles = document.createElement("style");
    hexStyles.type = "text/css";
    for (var i = 0; i < this.movies.length; i++) {
      hexStyles.innerText +=
        " #h" +
        i +
        " { background-image: url('" +
        this.movies[i].thumbnail +
        "'); } ";
    }
    document.head.appendChild(hexStyles);
    this.activeMovie = this.movies[0];
    this.bdImage = this.movies[this.activeMovieID].cover;

    this.initialize();
  }
};
</script>


<style scoped>
#backdrop {
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.4);
  width: 100%;
  height: 100% !important;
  z-index: -1;
}

.contains {
  width: 100%;
  height: 100%;
}
.content {
  z-index: 1;
  color: white;
  width: 100%;
  height: 100%;
}

#workforceInner {
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 5vw;
}

.movieName {
  text-align: center;
  font-size: 2vw;
  color: white;
}

p {
  word-break: keep-all;
  font-size: 1.5vw;
}

.synopsisText {
  max-height: 300px;
  overflow: hidden;
}

.movieInfo {
  overflow: hidden;
}

.activeMovie {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 5% 20% 5% 20%;
}

.activeMovieThumbnail {
  text-align: center;
}

.activeMovieImage {
  width: 250px;
  height: 350px;
  border-radius: 10%;
}

.movieName,
.movieName:active {
  font-size: 3vw;
}

.activeMovie > div {
  width: 45%;
  margin: 0 2.5% 0 2.5%;
}

.moviesHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 72px;
}

.moviesHolder > div {
  margin: 50px 15px 50px 15px;
}

.inactiveMovie {
  width: 250px;
  height: 300px;
  border-radius: 10%;
  text-align: center;
}

.inactiveMovie:hover {
  cursor: pointer;
}

a,
a:active {
  font-size: 1.5vw;
  color: white;
}

.buyBtn {
  position: relative;
  width: 120px;
  height: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(200, 33, 58), rgb(100, 41, 30));
  border: none;
  outline: none;
  border-radius: 50px;
  z-index: 1;
}
.buyBtn::before {
  width: 120px;
  height: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
  outline: none;
  border-radius: 50px;
  background: linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30));
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.buyBtn:hover::before {
  opacity: 1;
}

.buyBtn:hover {
  cursor: pointer;
}

.buyBtnText {
  color: white;
  flex: 1;
  font-weight: bold;
  font-size: 1vw;
  align-self: center;
}

a:hover,
.movieName:hover {
  color: red;
}

@media screen and (max-width: 900px) {
  p {
    font-size: 2vw;
  }
  a {
    font-size: 2vw;
  }
  .movieName,
  .movieName:active {
    font-size: 2.5vw;
  }
  .activeMovieImage {
    width: 200px;
    height: 300px;
  }
  .inactiveMovie {
    width: 200px;
    height: 250px;
  }
  .synopsisText {
    max-height: 250px;
  }

  .buyBtn {
    width: 100px;
    height: 25px;
  }

  .buyBtn::before {
    width: 100px;
    height: 25px;
  }

  .buyBtnText {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 600px) {
  p {
    font-size: 2vw;
  }
  a {
    font-size: 2vw;
  }
  .movieName,
  .movieName:active {
    font-size: 2.5vw;
  }
  .activeMovieImage {
    width: 100px;
    height: 200px;
  }
  .inactiveMovie {
    width: 100px;
    height: 150px;
  }
  .synopsisText {
    max-height: 150px;
  }

  .buyBtn {
    width: 50px;
    height: 20px;
  }
  .buyBtn::before {
    width: 50px;
    height: 20px;
  }
  .buyBtnText {
    font-size: 1.5vw;
  }
}
</style>

