<template>
  <div id="genreLinksContainer">
    <a
      v-for="link in links"
      :key="link.movie_genres_id"
      :id="link.movie_genres_id"
      :href="'/movies/genre/'+link.movie_genres_id"
      class="genreLink"
    >{{link.name}}</a>
  </div>
</template>

<script>
export default {
  name: "GenreLinks",
  props: ["links", "activeGenre"],
  mounted() {
    var linksClasses = document.getElementsByClassName("genreLink");
    console.log(this.activeGenre);
    for (var i = 0; i < linksClasses.length; i++) {
      if (linksClasses[i].id == this.activeGenre) {
        linksClasses[i].style.color = "black";
        linksClasses[i].style.transform = "scale(1.2)";
      }
    }
  }
};
</script>

<style scoped>
#genreLinksContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  margin: 10px 20% 10px 20%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(200, 33, 58), rgb(100, 41, 30));
  border-radius: 20px;
}

.genreLink {
  transition: 0.25s all;
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin: 0 10px 0 10px;
}

.genreLink:hover {
  transform: scale(1.2);
  color: black;
}
</style>


