<template>
  <div class="contains">
    <div
      id="backdrop"
      :style="{width: bdWidth, height: bdHeight, backgroundImage: 'url(' + movie.cover + ')'}"
    ></div>
    <Buy style="z-index: 1000" :movie="movie" v-if="showBuy" v-on:closeBuyBtn="toggleShowBuy"></Buy>
    <div class="topContainer">
      <div id="informationContainer">
        <div id="thumbnail">
          <img style="height: 100%; width:100%; border-radius: 20px" :src="movie.thumbnail" />
        </div>
        <h5 style="padding: 10px; text-align: center">{{movie.name}}</h5>
        <div id="generalInformation">
          <div>
            <i class="far fa-calendar-alt"></i>
            <span class="infoItem">{{movie.releaseDate}}</span>
          </div>
          <div>
            <i class="far fa-clock"></i>
            <span class="infoItem">{{movie.length}}</span>
          </div>
          <div>
            <i class="far fa-star"></i>
            <span class="infoItem">{{movie.rating}}</span>
          </div>
        </div>
      </div>
      <div id="synopsis">
        <h1>Synopsis</h1>
        <p>{{movie.synopsis}}</p>
        <h5>Actors</h5>
        <span
          :id="'actor' + actor.actor_movies_id"
          v-for="actor in movie.actors"
          :key="actor.actor_movies_id"
        >{{actor.name + ", "}}</span>
        <br />
        <br />
        <h5>Genres</h5>
        <span
          :id="'genre' + genre.movie_genres_id"
          v-for="genre in movie.genres"
          :key="genre.movie_genres_id"
        >{{genre.name + ", "}}</span>
        <button v-if="user" class="buyBtn">
          <p class="buyBtnText" v-on:click="toggleShowBuy">Buy Now</p>
        </button>
        <p>
          <a href="/login" v-if="!user" style="color: red; font-size: 16px">Login To Buy</a>
        </p>
      </div>
    </div>
    <div class="bottomContainer">
      <h1 style="text-align: center">Trailers</h1>
      <div id="trailersContainer">
        <div v-if="!movie.trailers.length">-</div>
        <iframe
          v-for="trailer in movie.trailers"
          :key="trailer.id"
          :src="trailer.link"
        >Video Not Supported In This Browser.</iframe>
      </div>
      <h1 style="text-align: center; margin-top: 50px">Comments</h1>
      <div id="commentsContainer">
        <div id="commentInputContainer">
          <div style="text-align: center">
            <a
              href="/login"
              v-if="!user"
              style="color: red; font-size: 16px"
            >Login To Post a Comment</a>
            <p
              style="color: red; font-size: 16px"
              v-if="!commentPosted"
            >Something went wrong while posting your comment.</p>
          </div>
          <div
            v-if="user"
            style="width: 100%;background: linear-gradient(to right, rgb(200, 33, 58), rgb(100, 41, 30));border-radius: 20px;display: flex;align-items: flex-end;flex-direction: column;"
          >
            <textarea
              name="commentInput"
              v-model="commentText"
              id="commentInput"
              maxlength="1000"
              rows="4"
              placeholder="Share your thoughts..."
            ></textarea>
            <input type="submit" value="Post" id="submitCommentButton" v-on:click="postComment" />
          </div>
        </div>
        <div v-if="!movie.comments.length">-</div>
        <div v-for="comment in movie.comments" :key="comment.id" class="comment">
          <h5>{{comment.user.name}}</h5>
          <p>{{comment.text}}</p>
          <hr style="border-color: red" />
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import Buy from "./Buy";
export default {
  name: "movie",
  data: function() {
    return {
      bdWidth: window.innerWidth,
      bdHeight: window.innerHeight,
      commentText: "",
      commentPosted: true,
      showBuy: false
    };
  },
  components: {
    Buy
  },
  props: ["movie", "user"],
  methods: {
    resizeBD: function() {
      //Set backdrop div size
      this.bdHeight = window.innerHeight;
      this.bdWidth = window.innerWidth;
    },
    toggleShowBuy: function() {
      this.showBuy = !this.showBuy;
    },
    postComment: function() {
      console.log("Here");
      if (this.commentText.length) {
        window.Axios.post("/postcomment", {
          movieID: this.movie.id,
          text: this.commentText
        })
          .then(response => {
            this.commentPosted = response.data;
            if (response.data) {
              this.movie.comments.unshift(response.data);
            }
          })
          .catch(error => {
            this.commentPosted = false;
          });
      }
    }
  },
  mounted() {
    console.log(this.user);
    window.addEventListener("resize", this.resizeBD);
  }
};
</script>

<style scoped>
#backdrop {
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.3);
  width: 100%;
  height: 100% !important;
  z-index: -1;
}

.topContainer {
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.bottomContainer {
  padding: 50px;
  color: white;
}

#thumbnail {
  height: 300px;
  width: 220px;
}

#informationContainer {
  color: white;
  flex: 0.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#generalInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoItem {
  margin-left: 5px;
  margin-right: 5px;
}

#synopsis {
  color: white;
  flex: 0.6;
}

#trailersContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#trailersContainer > iframe {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  height: 400px;
}

#commentsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comment {
  width: 50%;
  margin: 10px;
}

#commentInputContainer {
  position: relative;
  width: 50%;
  margin: 0 25% 0 25%;
  border-radius: 20px;
}

#commentInput {
  width: 100%;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
}

#commentInput::placeholder {
  color: white;
}

#submitCommentButton {
  width: 50px;
  height: 30px;
  color: white;
  background: linear-gradient(to left, rgb(0, 0, 0), rgb(67, 67, 67));
  border-radius: 20px;
  outline: none;
  border: none;
  margin: 5px;
}

#submitCommentButton:hover {
  cursor: pointer;
}

.buyBtn {
  margin-top: 50px;
  position: relative;
  width: 120px;
  height: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(200, 33, 58), rgb(100, 41, 30));
  border: none;
  outline: none;
  border-radius: 50px;
  z-index: 1;
}
.buyBtn::before {
  width: 120px;
  height: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
  outline: none;
  border-radius: 50px;
  background: linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30));
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.buyBtn:hover::before {
  opacity: 1;
}

.buyBtn:hover {
  cursor: pointer;
}

.buyBtnText {
  color: white;
  flex: 1;
  font-weight: bold;
  font-size: 1vw;
  align-self: center;
}
</style>

