<template>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark cust-nav">
    <a class="navbar-brand" href="/">
      <img v-if="brand.link" v-bind:src="brand.link" width="100" height="100" alt />
      {{brand.name}}
    </a>
    <form
      class="searchForm form-inline md-form form-sm mt-0"
      style="position: relative;background: linear-gradient(to right, rgb(200, 33, 58), rgb(100, 41, 30)); border-radius: 50px; outline: none; z-index: 1"
    >
      <input
        style=" background-color: transparent;border: none;outline: none;color: white;"
        class="search form-control form-control-sm ml-3 w-150"
        type="text"
        placeholder="Search"
        aria-label="Search"
        v-model="searchTerm"
        v-on:input="search"
      />
      <i
        v-if="!searching"
        class="fas fa-search"
        aria-hidden="true"
        style="padding: 5px; color: #ccc"
      ></i>
      <lottie v-if="searching" :options="defaultOptions" :height="25" :width="25"></lottie>
      <div
        v-if="searchTerm.length"
        class="searchResultList searchCloser"
        id="searchResultList"
        :style="{width: searchResultListWidth + 'px', maxHeight: searchResultListHeight + 'px'}"
      >
        <a
          :href="'/movies/one/' + result.id"
          v-for="result in searchResultList"
          :key="result.id"
          class="searchResult searchCloser"
        >
          <div class="searchImageContainer searchCloser">
            <img :src="result.thumbnail" :alt="result.name" class="searchCloser" />
          </div>
          <div class="searchTextContainer searchCloser">
            <p class="searchCloser">{{result.name}}</p>
          </div>
          <div class="searchLinkContainer searchCloser">
            <a :href="'/movies/one/'+result.id" class="searchCloser">View More</a>
          </div>
        </a>
      </div>
    </form>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">
          Home
          <span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link" href="/top">Top</a>
        <a class="nav-item nav-link" href="/genrefy">Genrefy</a>
        <a class="nav-item nav-link" href="/about">About</a>
        <a v-if="!user" class="nav-item nav-link" href="/login">Login</a>
        <a v-if="user" class="nav-item nav-link" href="#workforce" id="account">
          {{user.name}}
          <div id="accountDropDown" style="display: none; margin: 0 10px 0 0;position:absolute">
            <a
              href="/orders"
              style="background: linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30));border-radius: 20px; padding: 5px;font-size: 12px; color: white; text-decoration: none;"
            >My Orders</a>
            <a
              href="/logout"
              style="background: linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30));border-radius: 20px; padding: 5px;font-size: 12px; color: white; text-decoration: none;"
            >Signout</a>
          </div>
        </a>
        <a v-if="user" class="nav-item nav-link" id="cart" v-on:click="this.showCartAlter">
          <i class="fas fa-shopping-cart cart"></i>
        </a>
      </div>
    </div>
    <Cart class="cartComponent" v-show="this.showCart" :user="this.user"></Cart>
  </nav>
</template>

<script>
import Cart from "./Cart";
import lottie from "vue-lottie";
import * as animationData from "../../../public/animations/actindicator.json";
export default {
  name: "navbar",
  components: {
    Cart,
    lottie
  },
  props: ["brand", "user", "linkname"],
  data: function() {
    return {
      activeLinkIndex: 0,
      searchResultListWidth:
        document.getElementsByTagName("body")[0].getBoundingClientRect().width /
        2,
      searchResultListHeight:
        document.getElementsByTagName("body")[0].getBoundingClientRect()
          .height - 120,
      searchResultList: [],
      searchTerm: "",
      showCart: false,
      searching: false,
      defaultOptions: {
        animationData: animationData,
        loop: true,
        autoplay: true
      }
    };
  },
  methods: {
    initializeListeners: function() {
      /* var links = document.getElementsByClassName("nav-item");
      for (var i = 0; i < links.length; i++) {
        links[i].addEventListener("click", this.setActive);
      }
*/
      document.addEventListener("scroll", this.setFilter);
      window.addEventListener("resize", this.resize);
      window.addEventListener(
        "click",
        e => {
          !e.target.classList.contains("searchCloser")
            ? (this.searchTerm = "")
            : null;
          !e.target.classList.contains("cartCloser")
            ? (this.showCart = "")
            : null;
        },
        true
      );
    },

    //Set Currently Active Link Color
    setActive: function(navItem) {
      window.sessionStorage.setItem("lastLink", navItem.target.innerText);
      var links = document.getElementsByClassName("nav-item");
      for (var i = 0; i < links.length; i++) {
        links[i].classList.remove("active");
      }
      navItem.target.classList.add("active");
    },

    //Add filter to Navbar on Scroll
    setFilter: function() {
      var navbar = document.getElementsByClassName("navbar")[0];
      if (document.scrollingElement.scrollTop > 50) {
        navbar.classList.add("filter");
      } else {
        navbar.classList.remove("filter");
      }
    },

    resize: function() {
      this.searchResultListWidth =
        document.getElementsByTagName("body")[0].getBoundingClientRect().width /
        2;
      this.searchResultListHeight =
        document.getElementsByTagName("body")[0].getBoundingClientRect()
          .height - 120;
    },
    search: function() {
      if (this.searchTerm.length) {
        this.searching = true;
        axios
          .post("/movies/search", { search: this.searchTerm })
          .then(response => {
            if (response.data) {
              this.searchResultList = response.data;
              this.searching = false;
              document.getElementsByClassName(
                "searchResultList"
              )[0].style.opacity = 0.95;
              document.getElementsByClassName("searchResultList")[0].style.top =
                "75px";
            }
          })
          .catch(error => {
            this.searching = false;
          });
      } else this.searchResultList = [];
    },
    showCartAlter: function() {
      this.showCart = !this.showCart;
    }
  },
  mounted() {
    this.$root.$on("closeCart", this.showCartAlter);
    this.initializeListeners();
    var links = document.getElementsByClassName("nav-item");
    if (this.linkname) {
      for (var i = 0; i < links.length; i++) {
        links[i].classList.remove("active");
        if (links[i].innerText == this.linkname) this.activeLinkIndex = i;
      }
      links[this.activeLinkIndex].classList.add("active");
    } else
      for (var i = 0; i < links.length; i++) {
        links[i].classList.remove("active");
      }
    /*if (window.sessionStorage.getItem("lastLink")) {
      var lastLink = window.sessionStorage.getItem("lastLink");
      var links = document.getElementsByClassName("nav-item");
      for (var i = 0; i < links.length; i++) {
        links[i].classList.remove("active");
        if (links[i].innerText == lastLink) this.activeLinkIndex = i;
      }
      links[this.activeLinkIndex].classList.add("active");
    }*/
  }
};
</script>

<style scoped>
.navbar {
  z-index: 5000;
}
.cust-nav {
  background-color: black;

  padding-top: unset;
  padding-bottom: unset;
  transition: 0.5s all;
}

.filter {
  filter: opacity(0.95);
}

.navbar-brand {
  font-size: 22px;
  font-weight: bolder;
}

.navbar-brand img {
  border-radius: 50%;
}

.nav-item {
  font-size: 16px;
  font-weight: bold;
}

.active {
  color: red !important;
}

.searchForm::before {
  background: linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30));
  border-radius: 50px;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0.995;
}

.searchForm:hover:before {
  opacity: 1;
}

::-webkit-input-placeholder {
  /* Edge */
  color: white;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::placeholder {
  color: white;
}

.search:focus {
  background-color: white;
  color: white;
  outline: none;
  box-shadow: none;
}

.searchResultList {
  top: 0px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  overflow-y: scroll;
  background-color: black;
  border-radius: 20px;
  margin-bottom: 100px;
  scroll-behavior: smooth;
  transition: 0.3s all;
  opacity: 0;
}

.searchResultList::-webkit-scrollbar {
  width: 10px;
}
.searchResultList::-webkit-scrollbar-thumb {
  background-color: #d00;
  border-radius: 10px;
}

.searchResult {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  text-align: center;
  margin: 10px;
  width: 95%;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  background: linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30));
  transition: 0.3s all;
}

.searchResult:hover {
  transform: scale(1.02, 1.02);
}

.searchImageContainer {
  height: 100px;
  width: 70px;
}

.searchImageContainer img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.searchTextContainer {
  text-align: center;
  color: white;
  margin: 0 10px 0 10px;
}

.searchLinkContainer {
  background: linear-gradient(to left, rgb(0, 0, 0), rgb(67, 67, 67));
  border-radius: 20px;
  padding: 5px;
}

.searchLinkContainer a {
  color: white;
  text-decoration: none;
}

#account:hover #accountDropDown {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  background: linear-gradient(to left, rgb(0, 0, 0), rgb(67, 67, 67));
  border-radius: 20px;
  padding: 10px;
  right: 5px;
}

#accountDropDown > a {
  min-width: 100px;
  margin: 5px 0 5px 0;
  padding: 5px;
}

.cart {
  background: linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30));
  border-radius: 20px;
  color: white;
  padding: 5px;
}

.cart:hover {
  cursor: pointer;
}

.cartComponent {
  position: fixed;
  top: 110.5px;
  right: 5px;
}

@media screen and (max-width: 900px) {
}
</style>