<template>
  <div id="ordersContainer">
    <h1>Your Orders</h1>
    <h4 style="margin: 20px" v-if="!orders.length">You Have No Orders</h4>
    <table v-if="orders.length" class="ordersTable">
      <tr>
        <th>Order#</th>
        <th>Movies</th>
        <th>Price</th>
        <th>Status</th>
      </tr>
      <tr v-for="order in orders" :key="order.id">
        <td>{{orders.indexOf(order) + 1}}</td>
        <td style="max-width: 500px">
          <span
            v-for="orderDetail in order.order_details"
            :key="orderDetail.id + orderDetail.movie_id"
          >{{orderDetail.movie.name + ' (' + orderDetail.quality.type + '), '}}</span>
        </td>
        <td>${{calculateOrderPrice(order)}}</td>
        <td>{{order.order_status.name}}</td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: "Orders",
  props: ["orders"],
  methods: {
    calculateOrderPrice: function(order) {
      var price = 0;
      order.order_details.forEach(orderDetail => {
        price += orderDetail.quality.price;
      });
      return price.toFixed(2);
    }
  },
  mounted() {
    document.getElementsByClassName("ordersTable")[0].style.width = "auto";
    document.getElementsByClassName("ordersTable")[0].style.opacity = 1;
  }
};
</script>

<style scoped>
#ordersContainer::-webkit-scrollbar {
  width: 10px !important;
}
#ordersContainer::-webkit-scrollbar-thumb {
  background-color: #d00 !important;
  border-radius: 10px !important;
}
#ordersContainer {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.ordersTable {
  margin-top: 50px;
  border-radius: 20px;
  background: linear-gradient(to left, rgb(200, 33, 58), rgb(100, 41, 30));
  text-align: center;
  width: 0%;
  opacity: 0;
  transition: 0.3s all;
}

td,
tr,
th {
  padding: 20px;
}
</style>


