<template>
  <div class="topContainer">
    <div class="formContainer">
      <form v-if="!paymentSuccess" action="javascript:void(0);" method="post" id="payment-form">
        <div class="form-row">
          <label style="font-size: 16px" for="card-element">Pay with Credit or Debit Card</label>
          <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
          </div>

          <!-- Used to display form errors. -->
          <div id="card-errors" role="alert"></div>
        </div>

        <button class="submitPayment">Submit Payment</button>
      </form>
      <div style="margin: 10px" v-if="paymentSuccess">
        <h3>
          Payment Successful!
          <i style="color: #0D0" class="far fa-check-circle"></i>
        </h3>
        <h3>Thankyou for your Purchase.</h3>
        <a href="/" style="color: white; text-decoration:none">
          Continue
          <i style="margin-left: 10px" class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div v-if="!paymentSuccess && cartData.length" class="orderContainer">
      <h4>Your Order</h4>
      <div class="movieContainer" v-for="data in cartData" :key="data.id">
        <div class="thumbnailContainer">
          <img :src="data.movie.thumbnail" :alt="data.movie.name" />
        </div>
        <div>{{data.movie.name}}</div>
        <div>{{data.quality.type}}</div>
        <div>${{data.quality.price}}</div>
      </div>
      <p>Total: ${{calculateTotal()}}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "StripePay",
  props: ["cartData"],
  data: function() {
    return {
      token: {},
      paymentSuccess: false
    };
  },
  mounted() {
    document.getElementsByClassName("topContainer")[0].style.maxHeight =
      window.innerHeight - 115 + "px";
    // Create a Stripe client.
    var stripe = Stripe("pk_test_1yLZxzPVMrTR9hrktSBsALhp000vwOTQQo");

    // Create an instance of Elements.
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
      base: {
        color: "#FFF",
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: "antialiased",
        fontSize: "16px",
        "::placeholder": {
          color: "#FFF"
        }
      },
      invalid: {
        color: "#FFF",
        iconColor: "#FFF"
      }
    };

    // Create an instance of the card Element.
    var card = elements.create("card", { style: style });

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount("#card-element");

    // Handle real-time validation errors from the card Element.
    card.addEventListener("change", function(event) {
      var displayError = document.getElementById("card-errors");
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = "";
      }
    });

    // Handle form submission.
    var form = document.getElementById("payment-form");
    form.addEventListener("submit", event => {
      event.preventDefault();

      stripe.createToken(card).then(result => {
        if (result.error) {
          // Inform the user if there was an error.
          var errorElement = document.getElementById("card-errors");
          errorElement.textContent = result.error.message;
        } else {
          // Send the token to your server.
          this.token = result.token;
          this.checkout();
        }
      });
    });
  },
  methods: {
    checkout() {
      if (this.cartData.length)
        window.Axios.post("/checkout", { tokenID: this.token.id }).then(
          response => {
            if (response.data) {
              this.paymentSuccess = true;
              //Listener on Cart.Vue to empty cart
              this.$root.$emit("checkoutConfirmed");
            } else {
              document.getElementById("card-errors").textContent =
                "There was a problem while processing your request.";
            }
          }
        );
    },
    calculateTotal() {
      let total = 0;
      this.cartData.forEach(data => {
        total += data.quality.price;
      });
      return total.toFixed(2);
    }
  }
};
</script>

<style scoped>
.topContainer::-webkit-scrollbar {
  width: 10px;
}
.topContainer::-webkit-scrollbar-thumb {
  background-color: #d00;
  border-radius: 10px;
}
.topContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.orderContainer {
  background: linear-gradient(to right, rgb(200, 33, 58), rgb(100, 41, 30));
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  color: white;
  margin-bottom: 20px;
}
.orderContainer div {
  margin: 10px;
}

.movieContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.thumbnailContainer {
  width: 70px;
  height: 100px;
}

.thumbnailContainer img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.CardBrandIcon-container {
  color: white;
}
::placeholder {
  color: white !important;
}
button,
a {
  margin-top: 20px;
  position: relative;
  width: 120px;
  height: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(200, 33, 58), rgb(100, 41, 30));
  border: none;
  outline: none;
  border-radius: 50px;
  color: white;
}

button:hover {
  cursor: pointer;
}

#card-element {
  background: linear-gradient(to right, rgb(200, 33, 58), rgb(100, 41, 30));
  border: none;
  outline: none;
  border-radius: 50px;
  color: white;
  width: 100%;
}

#payment-form {
  min-width: 50%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  margin: 10px 0 10px 0;
}

.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  background-color: white;

  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fff;
}

.StripeElement--webkit-autofill {
  background-color: #000 !important;
  color: white;
}

#card-errors {
  margin-top: 10px;
}
</style>


